{% extends 'base.html' %}
{% block title %}
 Adicionar novo aluno
{% endblock %}
{% block content %}
<div class="container-fluid form-group" style="background-color: #F5B822; border-radius: 20px; color: #0069B5; width: 80%; font-weight: bolder">
  <br/>
{% if user.is_authenticated %}
  <div class="modal-body">
      <h3 style="color: black; text-align: center;"><b>Adicionar novo aluno</b></h3>
      <div class="form-group">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.media }}
          <div style="padding-left: 6%; padding-right: 6%; border-radius: 1rem;">{{ form.as_p }}</div>
          <button class="btn btn-secondary">Adicionar</button>
        </form>
      </div>
    </div>

    <script>  
      var n = "{{ user.id }}";
      document.getElementById("owner").value = n;
    </script>
{% endif %}


{% endblock %}