{% extends 'base.html' %}
{% block content %}
<h1>Buscar Escolas</h1>
<div>
  <!-- <select class="btn-secondary" id="Estado"></select><br/><br/>  
  <a class=" btn btn-secondary" id="vai" >Buscar</a><br/> -->
{% for profile in profiles %}
  {% if profile.user.id == user.id %}
  <hr><p><h2> Escolas em {{ profile.estado }}</h2> <small><a href="#">Pesquisar escolas em outros estados</small></a></p>
  {% endif %}
{% endfor %}
</div>
<ul>
  {% for profile in profiles %}
    {% if profile.user.id == user.id %}
      {% for school in schools %}
        {% if school.state == profile.estado %}
          <a href="{% url 'school' school.name%}">
            {{ school.name }}
          </a>
          <hr>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}
</ul>

<h2>Escolas de todos os estados</h2>
<ul>
  {% for school in schools %}
    <a href="{% url 'school' school.name%}">
      {{ school.name }}
    </a>
    <hr>
  {% endfor %}
</ul>
<script>
  $(document).ready(function(){
    carregar_json('Estado');
    function carregar_json(id, cidade_id){
      var html = '';

      $.getJSON('https://gist.githubusercontent.com/letanure/3012978/raw/36fc21d9e2fc45c078e0e0e07cce3c81965db8f9/estados-cidades.json', function(data){
        html += '<option>Selecionar '+ id +'</option>';
        console.log(data);
        if(id == 'Estado' && cidade_id == null){
          for(var i = 0; i < data.estados.length; i++){
            html += '<option value='+ data.estados[i].sigla +'>'+ data.estados[i].nome+'</option>';
          }
        }else{
          for(var i = 0; i < data.estados.length; i++){
            if(data.estados[i].sigla == cidade_id){
              for(var j = 0; j < data.estados[i].cidades.length; j++){
                html += '<option value='+ data.estados[i].sigla +'>'+data.estados[i].cidades[j]+ '</option>';
              }
            }
          }
        }

        $('#'+id).html(html);
      });
      
    }

    $(document).on('change', '#Estado', function(){
      var cidade_id = $(this).val();
      console.log(cidade_id);
      if(cidade_id != null){
        carregar_json('Cidade', cidade_id);
      }
    });

  });
  $("#vai").on("click", function() {
    var bla = "http://127.0.0.1:8000/local_state/" + $('#Estado').val();

    window.location.href = bla
  });
</script>
{% endblock %}