{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
  {% if user.profile %}
    <h1>Feed</h1>
    <ul>
      {% for donate in object_list %}
        <li>
        {% if donate.anon %}
          De: Anônimo Para: {{ donate.student }}  
        {% else %}
          De: {{ donate.author }} Para: {{ donate.student }}
        {% endif %}
          <br/>{{ donate.message }} - {{donate.created_at|date:'d/m/y'}} às {{donate.created_at|date:'H:i'}}</li>
        <hr>
      {% endfor %}
    </ul>
  {% else %}
      <h1>Agora registre seu Perfil </h1>
      <div class="form-group">
        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <a class="btn btn-secondary" href="{% url 'profile_register' %}">Register</a>
        </form>
      </div>
    {% endif %}
  {% endif %}  
{% endblock %}