{% extends 'base.html' %}
{% block content %}
<h2><b>Doações</b></h2></br>
  <ul>
    <h3>Pendentes </h3>
    {% for donate in donates %}  
      {% if donate.student.author == user %}
        {% if donate.closed == False %}
          {% if donate.notify == True %}
            {{ donate }}
            <br/>{{ donate.message }} - {{donate.created_at|date:'d/m/y'}} às {{donate.created_at|date:'H:i'}}
            {% if donate.donation_type.id == 4 %}
              <br/><a data-bs-toggle="modal" data-bs-target="#myModal" class="btn btn-outline-primary"><b>Coletada</b></a>
              <hr>
            {% endif %}          
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </br>
    <h3>Concluídas</h3>
    {% for donate in donates %}  
      {% if donate.student.author == user %}
        {% if donate.closed %}
            {{ donate }}
            <br/>{{ donate.message }} - {{donate.created_at|date:'d/m/y'}} às {{donate.created_at|date:'H:i'}}
          <hr>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
<div class="modal hide fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Confirmar coleta?</h5>
      </div>
      <div class="modal-body">
        <p>Tem certeza que deseja confirmar a entrega</p>
          <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary">Salvar</button>
          </form>
      </div>
    </div>
  </div>
</div>  
<script type="text/javascript">
  $(window).on('load', function() {
      $('#myModal').modal('show');
  });
  </script>
{% endblock %}