{% extends 'base.html' %}
{% block content %}
  <h2><b>Doações</b></h2></br>
  <ul>
    <h3>Pendentes </h3>
    {% for donate in object_list %}  
      {% if donate.student.author == user %}
        {% if donate.closed == False %}
          {% if donate.notify == True %}
            {{ donate }}
            <br/>{{ donate.message }} - {{donate.created_at|date:'d/m/y'}} às {{donate.created_at|date:'H:i'}}
            {% if donate.donation_type.id == 4 %}
              <br/><a href="{% url 'colected_donation' donate.id %}" class="btn btn-outline-primary"><b>Coletada</b></a>
              <hr>
            {% endif %}          
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}
    </br>
    <h3>Concluidas</h3>
    {% for donate in object_list %}  
      {% if donate.student.author == user %}
        {% if donate.closed %}
            {{ donate }}
            <br/>{{ donate.message }} - {{donate.created_at|date:'d/m/y'}} às {{donate.created_at|date:'H:i'}}
          <hr>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
{% endblock %}