{% extends 'base.html' %}
{% block content %}
<h3><b>Minhas Doações</b></h2></br>
  <ul>
    <h3>Pendentes </h3>
    {% for donate in donates %}      
      {% if donate.author.id == user.id %}
        {% if donate.closed == False %}
          {{ donate }}
          <br/>{{ donate.message }} - {{donate.created_at|date:'d/m/y'}} às {{donate.created_at|date:'H:i'}}
          {% if donate.notify == False %}
            {% if donate.donation_type.id == 4 %}
              <br/><a href="{% url 'delivered_donations' donate.id %}" class="btn btn-outline-primary"><b>Entregue</b></a>
            {% else %}
              <br/><a href="#" class="btn btn-outline-primary"><b>Pagar</b></a>   
            {% endif %}        
          {% endif %}
          <hr>
        {% endif %}
      {% endif %}
    {% endfor %}
  </br>
    <h3>Concluídas </h3>
    {% for donate in donates %}      
      {% if donate.author.id == user.id %}
        {% if donate.closed %}
          {{ donate }}
          <br/>{{ donate.message }} - {{donate.created_at|date:'d/m/y'}} às {{donate.created_at|date:'H:i'}}
          <hr>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
  <ul>
    {% for donate in object_list %} 
      {% if donate.id == pk %}
        {{ donate }}
      {% endif %}
    {% endfor %}  
  </ul>
  <div class="modal hide fade in" id="cartao" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Dados do cartão</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>X</span>
                </button>
            </div>

            <div class="modal-body">
                <form>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label>Nome</label>
                            <input type="text" class="form-control" placeholder="Seu nome" required>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label>Sobrenome</label>
                            <input type="text" class="form-control" placeholder="Seu sobrenome" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label>Número do cartão</label>
                            <input type="number" class="form-control" placeholder="Número do seu cartão" required>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label>Validade</label>
                            <input type="date" class="form-control" placeholder="Validade" required>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label>CVV</label>
                            <input type="number" class="form-control" placeholder="3 números" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                          <form method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="btn btn-primary" id="volta" type="submit">Confirmar</button>
                          </form>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

  <div class="modal hide fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Doação financeira</h5>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
                <label for="doacao-total"></label>
                <div class="input-group-prepend">
                    <div class="input-group-text">R$</div>
                    <input class="form-control" type="number" placeholder="Total">
                </div>
            </div>

            <div class="forma-pagamento text-left">
                <div class="group-radio">
                    <h5 class="text-center">Escolha a sua forma de pagamento</h5>
                    <div class="radio">
                        <label>
                            <input type="radio" id="credito" name='tipo' data-toggle="modal"
                                data-target="#dados-cartao" data-dismiss="modal">
                            Cartão de crédito
                            <img src="/media/images/Icon metro-credit-card@2x.png"
                                alt="imagem cartão de crédito">
                        </label>
                    </div>

                    <div class="radio">
                        <label>
                            <input type="radio" id="debito" name='tipo' checked>
                            Débito virtual
                            <img src="/media/images/Icon awesome-money-bill-alt@2x.png"
                                alt="imagem débito virtual">
                        </label>
                    </div>

                    <div class="radio">
                        <label>
                            <input type="radio" id="pix" name='tipo'>
                            Pix
                            <img src="/media/images/União 1@2x.png" alt="imagem pagamento PIX">
                        </label>
                    </div>

                </div>
            </div>
            <div class="container botao-doacao">
                <button type="button" class="btn btn-secondary my-2">Cancelar</button>
                <button type="button" class="btn btn-danger my-2" id="finalizar">Finalizar a doação</button>
            </div>

        </form>
            
        </div>
      </div>
    </div>
  </div> 

  <script type="text/javascript">
    function toggle(source) {
      checkboxes = document.getElementsByName('foo');
      for(var i=0, n=checkboxes.length;i<n;i++) {
        checkboxes[i].checked = source.checked;
      }
    }
    $(window).on('load', function() {
        $('#myModal').modal('show');
    });
    $("#volta").on('click', function() {
      var bla = "http://127.0.0.1:8000/my_donations/";
      window.location.href = bla;
    });

    $("#finalizar").click(function() {
      if ($('#pix').is(':checked')) {

      }
      if ($('#debito').is(':checked')) {

      }
      if ($('#credito').is(':checked')) {
        $('#myModal').modal('hide');
        $('#cartao').modal('show');
      }
    });
    
  </script>
{% endblock %}