{% extends 'base.html' %}
{% block content %}
  <h2><b>Crianças</b></h2>
  <p>Aqui você pode visualizar as suas crianças cadastradas e adicionar outras que ainda não tenha cadastrado</p>  
  <div class="g-5">
    {% if user.is_authenticated %}
      {% for student in object_list %}
        {% if student.author.id == user.id %}
          <div class="card text-center" style="margin-bottom: 30px; border-radius: 20px; border-color: #51C16F; width: 300px; float: left;">
            <div class="text-center pt-3">  
              {% if student.profile_pic %}
                <img style="width: 10rem; height: 10rem;"src = "{{ student.profile_pic.url }}" sclass="card-img-top" class="rounded-circle">
              {% else %}
                <img style="width: 10rem; height: 10rem;" src = "/media/images/photo_02.svg" sclass="card-img-top" class="rounded-circle">
              {% endif %}
            </div>
            <br/>
            <b>{{ student }}</b>
            <a href="{% url 'add_list' student.id %}" id="add">Adicionar Lista</a><br/>   
            <div style="background-color: #51C16F; color: white"><b>Itens da lista</b></div> 
            <div class="card-body" style="height: 95px; overflow-y: auto; text-align: center;">
              {% for item in selection %}
                {% if item.student.id == student.id %}
                  {% if item.item_quantity > 0 %}
                    <a href="{% url 'edit_list' item.id %}">{{ item }}</a><br>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </div>
            <div style="background-color: #51C16F; color: white"><b>Adicionar itens</b></div>
            <div class="card-body" style="height: 95px; overflow-y: auto; text-align: center;">
              {% for item in selection %}
                {% if item.student.id == student.id %}
                  {% if item.item_quantity == 0 %}
                    <a href="{% url 'edit_list' item.id %}">{{ item }}</a></br>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <div style="float:left; width: 50px; height: 10px"></div>
        {% endif %}
      {% endfor %}
      <br>
      
      <div class="card text-center" style="border-radius: 20px 20px 0 0; width: 300px; float: left; border: white">
        <div class="text-center pt-3">
          <a  href="{% url 'add_student' %}"><img src="/media/images/add_student.png"></a>
        </div>  
      </div>  
    {% endif %}
  </div>
  <br/>
{% endblock %}


