{% extends 'base.html' %}
{% block title %}
Login
{% endblock %}
{% block content %}

<h2><b>Login</b></h2>
<br/>
<div class="form-group">
  <form method="POST">
    {% csrf_token %}
    {% for field in form %}
      <div>{{ field.label }}</div>
      <div>{{ field }}</div><br/>
    {% endfor %}
    <button class="btn btn-outline-primary"><b>Login</b></button>
  </form>
</div>
<!-- <script type="text/javascript">
  var cpf = document.querySelector("#id_username");

  cpf.addEventListener("blur", function(){
    if(cpf.value != "admin") cpf.value = cpf.value.match(/.{1,3}/g).join(".").replace(/\.(?=[^.]*$)/,"-");
  });

</script> -->

{% endblock %}