{% extends 'base.html' %}
{% block title %}
 Donate - Delete
{% endblock %}
{% block content %}

{% if user.is_authenticated %}
  {% if user.id == post.author.id %}
    <h1>Delete Donate</h1>
    <br/><br/>
    <h3>Delete: {{ post.title }}</h3>
    <br/><br/>

    <div class="form-group">
      <form method="POST">
        {% csrf_token %}
        <strong>Are you sure?</strong>
        <button class="btn btn-secondary">Delete</button>
      </form>
    </div>
  {% else %}
    Nice try
  {% endif %}
{% endif %}


{% endblock %}