<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="./app.css">
    </head>

    <body>
        <header>
            <nav class="nav">
                <div class="container">
                    <div class="nav-bar header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-navbar" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar">MENU</span>
                        </button>
                        <a class="navbar-brand" href="#">Nome do app</a>
                    </div>
    
                    <div class="collapse navbar-collapse" id="collapse-navbar">
                        <ul class="nav navbar-nav">
                            <li><a href="#quem-somos">Quem somos</a></li>
                            <li><a href="#quem-ajudamos">Quem ajudamos</a></li>
                            <li><a href="#faca-parte">Faça parte</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <img class="img-fluid" src="./assets/Design sem nome.png" alt="imagem do logotipo da empresa">
        </header>
        
        <main>
            <div class="container">
                <h2></h2>
                <img class="img-fluid" src="./assets/apresentacao.jpg" alt="imagem da apresentação da plataforma">
                <button type="button" class="btn btn-primary btn-lg">Faça parte!</button>

                <h2></h2>
                <img class="img-fluid" src="./assets/servicos.jpg" alt="conteúdo de aprofundamento do serviço">
                <button type="button" class="btn btn-primary btn-lg">Beneficiados</button>
            </div>

            <section id="quem-somos" class="container">
                    <h2 class="container">Quem somos</h2>    
            </section>

            <section id="quem-ajudamos" class="container">
                <h2 class="container">Quem ajudamos</h2>    
            </section>

            <section id="faca-parte" class="container">
                <h2 class="container">Faça parte</h2>    
            </section>

        </main>
    </body>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</html>