img {
    padding-top: 5rem;
}

.contato-select,
.group-radio {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.contato-select{
    margin-left: 10rem;
    margin-top: -3rem;
}

.group-radio .radio:first-child {
    margin-top: 0;
}

.navbar-header {
    margin-left: 8rem;
    margin-top: -5rem;
}

.logo-header {
    width: 50%;
}

.button-menu {
    margin-left: 7.5rem;
}

.button-home {
    margin-top: 1rem;
    margin-left: 5rem;
}

.modal-content{
    background-color: orange;
    border-radius: 0.75rem;
}

.navbar-brand {
    margin-top: -5rem;
}

.btn-light {
    margin-top: 2rem;
}